@font-face {
    font-family: TitilliumWeb-Light;
    src: url(../fonts/TitilliumWeb-Light.ttf);
}

@font-face {
    font-family: TitilliumWeb-Thin;
    src: url(../fonts/TitilliumWeb-ExtraLight.ttf);
}

href, :visited{
	color: #666666;
}

.basic{
	font-family: TitilliumWeb-Light;
	font-size: 14px;
	color: #666666;
}

.grayBlock{
    font-family: HelveticaNeue-Bold;
    text-transform: uppercase;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
	background: #CCCCCC;
	border-radius: 4px;
	padding:3px;
}

.hidden{
	visibility: hidden;
	opacity: 0;
  	transition: visibility 0s .5s, opacity .5s linear;
}

.icon{
	position: fixed;
	right: 55px;
	bottom:70px;
	cursor: pointer;
}

#clientWindow{
	position: fixed;
	right: 55px;
	bottom:70px;
	width: 599px;
	height:409px;
	display: block;
	background: #FFFFFF;
	box-shadow: 10px 10px 30px 0 rgba(0,0,0,0.20), 0 0 0 7px rgba(0,0,0,0.05);
	border-radius: 5px;
}

.logo{
	position: absolute;
	left:12px;
	top:9px;
}

.close{
	position: absolute;
	right:14px;
	top: 13px;
	cursor: pointer;
}	

.callsHistory{
	position: absolute;
	left:33px;
	top: 33px;
	height:40px;
	padding-left: 50px;
	padding-top: 10px;
	text-transform: uppercase;
	background-image: url('../img/callsHistory.jpg');
	background-repeat: no-repeat;
	cursor: pointer;
}

.clientProfile{
	position: absolute;
	left:39px;
	top:90px;
	width: 529px;
}

.clientImg{
	position: absolute;
	height: 89px;
	width: 89px;
	border-radius: 44.5px;
	border: 1px solid #ccc;
	background-image: url('../img/client.jpg');
}

.statusAndName{
	position: absolute;
	left:113px;
	top:8px;
}

.clientStatus{
	position: absolute;
	top:12px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #00D95A;
}

.clientName{
	position: absolute;
	left:17px;
	width: 200px;
	font-family: TitilliumWeb-Light;
	font-size: 22px;
	color: #666666;
}

.clientInfoGroup{
	position: absolute;
	left: 112px;
	top: 49px;
	width: 200px;
}

.trilines{
	position: absolute;
	top:7px;
	height: 8px;
	width: 8px;
	background-image: url('../img/trilines.jpg');
}

.clientInfo{
	position: absolute;
	left: 12px;
	width: 400px;
}

.clientSocialMedia{
	position: absolute;
	left: 12px;
	top :22px;
	width: 400px;
}

.addSM{
	position: relative;
	text-decoration: underline;
	width: 400px;
	cursor: pointer;
}

.outBoundSym{
	position: absolute;
	top: 114px;
	left: 13px;
	width: 62px;
	height: 62px;
	border-radius: 31px;
	border: 1px solid #ccc;
	background-image: url('../img/phone.jpg');
	background-repeat: no-repeat;
	background-position: 20px 17px;
}

.callType{
	position: absolute;
	left: 95px;
	top :122px;
}

.callDate{
	position: absolute;
	left: 95px;
	top :151px;
	height:20px;
	padding-left: 21px;
	text-transform: uppercase;
	background-image: url('../img/clock.jpg');
	background-repeat: no-repeat;
	background-position: 0px 3px;
}

.followUps{
	position: absolute;
	left: 386px;
	top :124px;
	font-family: TitilliumWeb-Light;
	font-size: 14px;
	color: #00A1E0;
	padding-top: 25px;
	background-image: url('../img/calendar.jpg');
	background-repeat: no-repeat;
	background-position: 25px 0px;
	text-decoration: underline;
	cursor: pointer;
}

.notes{
	position: absolute;
	left: 479px;
	top :124px;
	padding-top: 25px;
	font-family: TitilliumWeb-Light;
	font-size: 14px;
	color: #00A1E0;
	background-image: url('../img/notes.jpg');
	background-repeat: no-repeat;
	background-position: 15px 0px;
	text-decoration: underline;
	cursor: pointer;
}

.historyDropdown{
	position: absolute;
	right: 0px;
	top :97px;
	height:20px;
	padding-right: 25px;
	background-image: url('../img/triangle.jpg');
	background-repeat: no-repeat;
	background-position: 100px 8px;
	font-family: TitilliumWeb-Light;
	text-transform: uppercase;
	font-size: 14px;
	color: #666666;
	cursor: pointer;
}

.showMore{
	position: absolute;
	left: 125px;
	top :184px;
	height:30px;
	width: 280px;
	font-family: HelveticaNeue;
	font-size: 12px;
	color: #666666;
	text-transform: uppercase;
	line-height: 30px;
	text-align: center;
	background-color: #EBEFF2;
	border-radius: 15px;
	cursor: pointer;
}

.callNotesWrapper{
	position: absolute;
	left: 23px;
	top : 311px;
	height:73px;
	width: 554px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
}

.callNotes{
	position: absolute;
	left:26px;
	top:13px;
	width: 424px;
	height:44px;
	line-height: 22px;
	border:none;
}

.saveNotes{
	position: absolute;
	top:13px;
	right: 13px;
	width: 75px;
	height: 49px;
	font-family: HelveticaNeue-Bold;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
	background: #00A1E0;
	border-radius: 4px;
	border: none;
}

.phoneNum{
	position: absolute;
	right:30px;
	top: 5px;
	font-family: TitilliumWeb-Light;
	font-size: 22px;
	color: #00A1E0;
	text-decoration: underline;
	cursor: pointer;
}

.vert{
	position: absolute;
    left: 45px;
    top: 90px;
    height: 24px;
    width: 1px;
    border-left: 1px solid #ccc;
}

.currentCallGroup{
	position: relative;
	right:30px;
	top: 31px;
}

.timerIcon{
	position: absolute;
	right: 0px;
	top: 0px;
	height: 40px;
	width: 40px;
	background-image: url('../img/phone2.jpg');
	background-repeat: no-repeat;
}

.callTimer{
	position: absolute;
    right: 51px;
    top: 0px;
	font-family: TitilliumWeb-Thin;
	font-size: 42px;
	color: #666666;
	letter-spacing: -1.75px;
	line-height: 32px;
}

.callStatus{
	position: absolute;
    right: 205px;
    top: 0px;
    font-family: HelveticaNeue-Bold;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
    text-align: right;
    text-transform: uppercase;
    padding:3px;
	background: #00D95A;
	border-radius: 4px;
}

.currentCallType{
	position: absolute;
    right: 205px;
    top: 25px;
    text-align: right;
}